.error-container{
    font-family: 'Monserrat', sans-serif;
     background-color: #AFF0E4;
     display: flex;
     flex: 1.1;
     color: #27806C
}
.img-container{
  width: 100%;
}

.picture-error{
  object-fit: scale-down;
}