/* {
    color: purple;
     font-family: 'Montserrat', sans-serif;
      font-size:30px;
      font-weight: 600;  
}
{
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: white;
}
h1{ 
  font-family: 'Rubik', sans-serif;
  background-color: #0F6EFA;
    color: white;
}
  background-color: #0A0A0A;
*/