.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
  transition: all 0.7s linear;
}

.card-body {
  padding: 2rem 0 !important;
}

.card-text {
  padding: 0.3rem 1rem;
  font-size: 1rem;
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.3);
}

.container .btn-warning{
  margin-bottom: 1vh;
  justify-content: center;
  background-color: #dfdfdf;
  color: rgb(65, 65, 65);

  border-color: aliceblue;
}
.container .btn-warning:hover {
  background: rgba(var(--bs-dark-rgb));
  border-color: aliceblue;
  color: rgb(255, 255, 255);
}

.main-heading{
  background-color: rgb(245, 245, 245);
}

.paginationDiv{
  margin-top: 2vh;
}
