.carousel{
    max-width: 100%;
    max-height: 80%;
    justify-content: center;
    flex: auto;
}

.carousel img {
    max-width: 100%;
}

.carousel .carousel-indicators button {
    width: 1vh;
    height: 1vh;
    border-radius: 60%;
    margin-bottom: 6vh;
}

