.footer-style{
     background: rgb(10,10,10);
background: linear-gradient(90deg, rgba(10,10,10,1) 19%, rgba(5,5,54,1) 44%, rgba(3,3,40,1) 83%);
position: relative;
bottom: 0;
}
.footer-link{
 text-decoration: none;
 margin-left: 10px;
 color: white;
 
}

.footer-link:hover{
 text-decoration: none;
 margin-left: 10px;
 font-weight: bold;
 
}